html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}
<h1>Taller multimedia 1</h1>
<img src="https://i.pinimg.com/474x/b0/be/0d/b0be0dba2bab92f0a8ae88b37bc458e8.jpg" alt="chayanneeee.">
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #FFBDF3;
}

body {
  width: 50vw;
  margin: 0 auto;
  background-color: #f7b6b9;
  padding: 0 20px 20px 20px;
  border: 5px solid red;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFBDF3;
  text-shadow: 3px 3px 1px black;
}
      <li>Gato glitch</li>
      <li>Una web con hotglue</li>
      <li>Prompt para humanos</li>
      <li>FakeNews</li>
img {
  display: block;
  margin: 0 auto;
}
